@use "../abstracts";

.about {
    &__label {
        margin-top: 68px;
        font-size: 2rem;
        font-weight: 500;
        line-height: 150%;
        color: #ffd05a;
    }

    &__sub-heading {
        width: min(836px, 100%);
        margin-top: 10px;
        font-size: 4rem;
        font-weight: 700;
        line-height: 150%;
        color: #fff;

        @include abstracts.screen(lg) {
            font-size: 3rem;
        }

        @include abstracts.screen(md) {
            font-size: 2.8rem;
        }
    }

    &__desc {
        width: min(828px, 100%);
        margin-top: 20px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
        color: #fff;
    }

    &-info {
        background: #f5f5f5;

        &__inner {
            display: flex;
            padding: 49px 0 76px;

            @include abstracts.screen(md) {
                flex-direction: column;
                gap: 20px;
                padding: 40px 0 50px;
            }
        }

        &__heading {
            max-width: 457px;
            font-size: 3.4rem;
            font-weight: 600;
            line-height: 152.941%;
            color: #010101;

            @include abstracts.screen(xl) {
                max-width: 400px;
            }

            @include abstracts.screen(lg) {
                font-size: 3rem;
            }
        }
    }

    &-stats {
        margin-left: auto;
        &__desc {
            max-width: 545px;
            font-size: 1.6rem;
            line-height: 150%;
            color: #010101;
        }

        &__list {
            display: flex;
            gap: 137px;
            margin-top: 54px;

            @include abstracts.screen(md) {
                margin-top: 30px;
            }
        }

        &__item {
            &-num {
                font-size: 4rem;
                font-weight: 700;
                line-height: 150%;
                color: #0166ff;
            }

            &-text {
                display: block;
                margin-top: 9px;
                font-size: 2rem;
                font-weight: 600;
                line-height: 150%;
            }
        }
    }

    &-goal {
        &__inner {
            padding: 50px 0;
        }

        &__desc {
            width: min(835px, 100%);
            margin: 24px auto 0;
        }

        &__img-wrapper {
            margin-top: 50px;
            display: grid;
            gap: 16px;
            grid-auto-rows: 215px;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;

            &--tall {
                grid-row: span 2;
            }

            &--small {
                grid-column: span 1.5;
            }

            &--wide {
                grid-column: span 2;
            }
        }
    }

    &-teacher {
        background: #f3f7f4;

        &__inner {
            padding: 70px 0 60px;
        }

        &__list {
            margin-top: 40px;
        }

        &__item {
            height: 100%;
            border-radius: 10px;
            overflow: hidden;

            &-thumb-wrap {
                position: relative;
                padding-top: 108%;
            }

            &-thumb {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

                &--green {
                    background: #dbe7c2;
                }

                &--blue {
                    background: #b6cae8;
                }

                &--brown {
                    background: #e8d7ac;
                }
            }

            &-info {
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &-title {
                font-size: 2rem;
                font-weight: 600;
                line-height: 100%;
                color: #010101;
            }

            &-desc {
                width: min(237px, 100%);
                margin-top: 9px;
                font-size: 1.4rem;
                line-height: 142.857%;
                text-align: center;
            }

            &-socials {
                display: flex;
                align-items: center;
                gap: 12px;
                margin-top: 24px;
            }
        }
    }

    &-partners {
        &__inner {
            padding: 49px 0 44px;
        }

        &__list {
            margin-top: 48px;
            justify-content: center;
            gap: 16px;
        }
    }
}
