/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --text-color: #717171;
  --black-text-color: #000;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
  padding: 0;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea {
  background: transparent;
}

.section__top {
  text-align: center;
}

.section__sub-heading {
  font-size: 1.6rem;
  font-weight: 600;
  color: #0166ff;
}

.section__heading {
  margin-top: 24px;
  font-size: 4rem;
  font-weight: 600;
  color: #010101;
}
@media (max-width: 767.98px) {
  .section__heading {
    font-size: 3rem;
  }
}

.section__desc {
  margin-top: 20px;
  font-size: 1.4rem;
  line-height: 142.857%;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1200x;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
@keyframes shake {
  0%, 100% {
    translate: 0;
  }
  25%, 75% {
    translate: 4px;
  }
  50% {
    translate: -4px;
  }
}
.btn {
  --btn-width: 126px;
  --btn-height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  height: var(--btn-height);
  padding: 0 20px;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 6px;
  white-space: nowrap;
  user-select: none;
}
.btn--primary {
  min-width: var(--btn-width);
  background: #0166ff;
  color: #fff;
}
.btn--text {
  color: #010101;
}
.btn--rounded {
  border-radius: 999px;
}
.btn--outline {
  background: transparent;
  border: 1px solid #0166ff;
  border-radius: 50%;
}
.btn:hover {
  opacity: 0/9;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo__title {
  color: var(--black-text-color);
  font-size: 1.6rem;
  font-weight: 700;
}

.courses-item {
  padding: 16px;
  border-radius: 14px;
  border: 1px solid #f2f2f2;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.04);
  transition: transform 0.3s;
}
.courses-item__img-wrap {
  position: relative;
  padding-top: 65%;
}
.courses-item__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.courses-item__title {
  margin-top: 22px;
  color: #292c3f;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 137.5%;
}
.courses-item__bottom {
  margin-top: 17px;
  display: flex;
  align-items: center;
}
.courses-item__info {
  display: flex;
  align-items: center;
  gap: 3px;
}
.courses-item__text {
  font-size: 1.3rem;
  font-weight: 500;
  color: #717171;
}
.courses-item__stars {
  margin-left: auto;
  display: flex;
  gap: 2px;
}
.courses-item:hover {
  transform: translateY(-20px);
}

.subscribe {
  padding-top: 105px;
  background: #f5f5f5;
}
.subscribe__inner {
  position: relative;
  padding: 50px 0 40px;
  border-radius: 20px;
  background: linear-gradient(91deg, #a6cf4a -4.67%, #98be41 101.64%);
}
@media (max-width: 575.98px) {
  .subscribe__inner {
    padding: 50px 20px 40px;
  }
}
.subscribe__heading {
  font-size: 4rem;
  font-weight: 600;
  line-height: 75%;
  color: #fff;
}
@media (max-width: 767.98px) {
  .subscribe__heading {
    font-size: 2.2rem;
  }
}
.subscribe__desc {
  margin-top: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 187.5%;
  color: #fff;
}
.subscribe__form {
  margin-top: 29px;
  display: flex;
  justify-content: center;
}
.subscribe__form-group {
  display: flex;
  height: 48px;
  border-radius: 42px;
  background: #fff;
  box-shadow: 0px 6px 24px -6px rgba(0, 0, 0, 0.06);
}
.subscribe__form-input {
  padding: 0 30px;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  line-height: 150%;
}
@media (max-width: 575.98px) {
  .subscribe__form-input {
    padding: 0 20px;
  }
}
.subscribe__form-input::placeholder {
  color: #666262;
}
.subscribe__form-btn {
  --btn-width: 118px;
  --btn-height: 48px;
}
@media (max-width: 575.98px) {
  .subscribe__form-btn {
    --btn-width: 100px;
  }
}
@media (max-width: 767.98px) {
  .subscribe__decore {
    display: none;
  }
}
.subscribe__decore > * {
  position: absolute;
}
.subscribe__decore > img:nth-child(1) {
  top: 46px;
  right: 63px;
}
@media (max-width: 991.98px) {
  .subscribe__decore > img:nth-child(1) {
    right: 10px;
  }
}
.subscribe__decore > img:nth-child(2) {
  left: 44px;
  bottom: 38px;
}
@media (max-width: 991.98px) {
  .subscribe__decore > img:nth-child(2) {
    left: 10px;
  }
}

.form:has(:invalid) .form__submit-btn {
  opacity: 0.5;
}
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__text-input {
  border-color: #ed4337;
}
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__input-icon {
  display: none;
}
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__input-icon-error {
  display: block;
}
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__error {
  display: block;
}
.form__group {
  margin-top: 36px;
}
@media (max-width: 767.98px) {
  .form__group {
    margin-top: 24px;
  }
}
.form__group--inline {
  display: flex;
  align-items: center;
}
.form__text-input {
  position: relative;
  display: flex;
  align-items: center;
  height: 48px;
  border-bottom: 1px solid #d9d9d9;
}
.form__text-input:focus-within {
  border-color: #77dae6;
}
.form__input {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  line-height: 133.333%;
  color: #777e90;
}
.form__input-icon-error {
  display: none;
  margin-left: 12px;
  animation: shake 0.5s;
}
.form__error {
  display: none;
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #ed4337;
  text-align: left;
}
.form__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}
.form__checkbox::before, .form__checkbox::after {
  content: "";
  position: absolute;
}
.form__checkbox::before {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid #dbdadd;
}
.form__checkbox:has(.form__checkbox-input:checked)::before {
  background: #0166ff;
  border-color: #0166ff;
}
.form__checkbox:has(.form__checkbox-input:checked)::after {
  width: 13px;
  height: 8px;
  top: 3px;
  left: 1px;
  border: 1.5px solid;
  border-color: transparent transparent #fff #fff;
  rotate: -45deg;
}
.form__checkbox-label {
  font-size: 1.4rem;
  line-height: 142.857%;
  color: #010101;
  margin-left: 24px;
}

.message {
  width: 100%;
  padding: 14px;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 10px;
}
.message--success {
  border: 1px solid #5bc45f;
  background: rgba(39, 243, 117, 0.2);
}

.header {
  position: relative;
  z-index: 2;
  padding: 20px 0;
}

.top-bar {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .top-bar__more {
    margin-right: 40px;
  }
}
@media (max-width: 575.98px) {
  .top-bar__more {
    margin-right: 24px;
  }
}
@media (max-width: 767.98px) {
  .top-bar__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
  }
}
.top-bar__cta-group {
  margin-left: auto;
  display: flex;
  gap: 4px;
}
.top-bar__cta-group-btn {
  min-width: 90px;
  padding: 0 10px;
}

.navbar {
  margin-left: 133px;
  transition: transform, opacity;
  transition-duration: 0.2s;
}
@media (max-width: 991.98px) {
  .navbar {
    position: fixed;
    inset: 0 40% 0 0;
    z-index: 10;
    margin-left: 0;
    padding: 40px 0;
    background: #fff;
    border-radius: 0 20px 20px 0;
    transform: translateX(-100%);
    opacity: 0;
  }
}
.navbar.show {
  transform: translateX(0);
  opacity: 1;
  box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
}
.navbar.show + .navbar__overlay {
  opacity: 1;
  visibility: visible;
}
.navbar__close-btn {
  display: none;
}
@media (max-width: 991.98px) {
  .navbar__close-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    font-size: 3rem;
  }
}
.navbar__overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity;
  transition-duration: 0.5s;
}
.navbar__list {
  display: flex;
}
@media (max-width: 991.98px) {
  .navbar__list {
    margin-top: 20px;
    flex-direction: column;
    gap: 30px;
  }
}
.navbar__link {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 8px 22px;
}
@media (max-width: 991.98px) {
  .navbar__link {
    padding: 10px 30px;
  }
}
.navbar__link--active {
  color: var(--black-text-color);
}
.navbar__link:hover {
  color: var(--black-text-color);
  text-decoration: underline;
}

.footer {
  padding-top: 69px;
  background: #f5f5f5;
}
.footer__inner {
  padding: 50px;
}
@media (max-width: 991.98px) {
  .footer__inner {
    padding: 24px;
  }
}
@media (max-width: 767.98px) {
  .footer__inner {
    padding: 20px;
  }
}
.footer__row {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1.2fr 1.2fr 1fr;
  gap: 60px;
}
@media (max-width: 991.98px) {
  .footer__row {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767.98px) {
  .footer__row {
    grid-template-columns: 1fr;
  }
}
.footer__desc {
  margin-top: 22px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 150%;
}
.footer__form {
  margin-top: 17px;
}
.footer__form-group {
  display: flex;
  gap: 12px;
  height: 46px;
}
.footer__form-input {
  width: 100%;
  height: 100%;
  padding: 0 13px;
  border-radius: 6px;
  background: #fff;
  font-size: 1.3rem;
}
.footer__form-input::placeholder {
  line-height: 150%;
  color: #010101;
}
.footer__form-btn {
  --btn-width: 84px;
  --btn-height: 46px;
  border-radius: 6px;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 150%;
}
.footer__title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 128.571%;
  color: #010101;
}
.footer__list {
  margin-top: 18px;
}
.footer__link {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 150%;
  padding: 9px 0;
  white-space: nowrap;
}
.footer__link:hover {
  color: #0071dc;
}

.hero {
  margin-top: 80px;
}
@media (max-width: 1199.98px) {
  .hero {
    margin-top: 60px;
  }
}
@media (max-width: 767.98px) {
  .hero {
    margin-top: 30px;
  }
}
.hero__row {
  display: flex;
  align-items: center;
  gap: 13px;
}
@media (max-width: 1199.98px) {
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.hero__content-sales-off {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  height: 28px;
  border-radius: 16px;
  background: #fb6238;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}
.hero__content-label {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.294rem;
  color: #010101;
}
.hero__heading {
  margin-top: 24px;
  color: #010101;
  font-size: 7rem;
  font-weight: 700;
  width: min(489px, 100%);
}
@media (max-width: 767.98px) {
  .hero__heading {
    font-size: 4.6rem;
  }
}
.hero__heading-strong {
  background: linear-gradient(269deg, #a6cf4a 16.43%, #ffd05a 37.58%, #fd60a9 54.54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__desc {
  margin-top: 30px;
  font-size: 1.6rem;
  line-height: 150%;
}
.hero__cta-group {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
}
.hero__cta-btn {
  --btn-width: 212px;
  --btn-height: 52px;
}
.hero__cta-play-btn {
  width: 45px;
  height: 45px;
}
.hero__cta-btn-icon {
  width: 12px;
  height: 12px;
}
.hero__media {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1199.98px) {
  .hero__media {
    justify-content: center;
  }
}
.hero__media-bg {
  position: relative;
  width: 555px;
  height: 675px;
  background: linear-gradient(71deg, #ff60a8 22.92%, #ffd05a 62.85%, #a6cf4a 96.68%);
  border-radius: 40px;
}
@media (max-width: 575.98px) {
  .hero__media-bg {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 1199.98px) {
  .hero__media-bg {
    justify-content: center;
  }
}
.hero__media-circle-lv2, .hero__media-circle-lv3, .hero__media-circle-lv4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.hero__media-circle-lv1, .hero__media-circle-lv2, .hero__media-circle-lv3 {
  background: linear-gradient(142deg, rgba(255, 255, 255, 0.58) 1.8%, rgba(255, 255, 255, 0.66) 99.75%);
  backdrop-filter: blur(65.0278320313px);
}
.hero__media-circle-lv1 {
  position: absolute;
  top: 40px;
  left: -36px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
@media (max-width: 575.98px) {
  .hero__media-circle-lv1 {
    display: none;
  }
}
.hero__media-circle-lv2 {
  width: 400px;
  height: 400px;
  border: 1px solid #fff;
}
.hero__media-circle-lv3 {
  width: 300px;
  height: 300px;
  border: 1px solid #fff;
}
.hero__media-circle-lv4 {
  width: 200px;
  height: 200px;
  background: #ececec;
}
.hero__media-img {
  position: absolute;
  z-index: 1;
  top: 88px;
  right: 220px;
  width: 328px;
  height: 313px;
  object-fit: cover;
}
@media (max-width: 575.98px) {
  .hero__media-img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.hero__media-decore-row {
  display: flex;
  align-items: center;
  background: #fff;
  z-index: 1;
}
.hero__media-decore-row:nth-child(1) {
  position: absolute;
  top: 23px;
  left: 0;
  padding: 0 44px 0 6px;
  height: 58px;
  border-radius: 29px;
  gap: 18px;
}
@media (max-width: 575.98px) {
  .hero__media-decore-row:nth-child(1) {
    padding: 0 16px 0 6px;
  }
}
.hero__media-decore-row:nth-child(2) {
  position: absolute;
  bottom: 150px;
  right: 100px;
  width: 126px;
  padding: 10px;
  height: 58px;
  border-radius: 6px;
  gap: 6px;
}
@media (max-width: 575.98px) {
  .hero__media-decore-row:nth-child(2) {
    bottom: 9px;
    right: 13px;
  }
}
.hero__media-decore > img {
  position: absolute;
  left: 66px;
  bottom: 240px;
}
.hero__media-decore-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.hero__media-decore-circle--green {
  background: #a6cf4a;
}
.hero__media-decore-circle--pink {
  background: #ff60a8;
}
.hero__media-decore-value {
  display: block;
  color: #676b7c;
  font-size: 1.2rem;
  font-weight: 700;
}
.hero__media-decore-label {
  font-size: 1.2rem;
  font-weight: 600;
}

.clients {
  margin-top: 72px;
}
.clients__inner {
  padding: 0 122px;
}
@media (max-width: 1199.98px) {
  .clients__inner {
    padding: 0;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.clients-item {
  padding: 10px 37px;
}
@media (max-width: 575.98px) {
  .clients-item {
    padding: 10px 20px;
  }
}
.clients-item:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.courses {
  margin-top: 79px;
}
@media (max-width: 991.98px) {
  .courses {
    margin-top: 10px;
  }
}
.courses__inner {
  padding: 50px 0 60px 0;
}
.courses__list {
  margin-top: 50px;
}
.courses__cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.courses__cta-btn {
  --btn-width: 170px;
  --btn-height: 48px;
}

.about__inner {
  padding: 70px 0;
  background: #f5f5f5;
}
.about__list {
  margin-top: 50px;
}
.about__item {
  display: flex;
  flex-direction: column;
  padding: 20px 14px 16px 14px;
  border-radius: 10px;
  background: #fff;
  height: 100%;
}
.about__item-img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 14px;
}
.about__item-img-wrap--teaching {
  background: #3d81c2;
  box-shadow: 0px 8px 24px 0px rgba(61, 129, 194, 0.24);
}
.about__item-img-wrap--available {
  background: #a6cf4a;
  box-shadow: 0px 8px 24px 0px rgba(166, 207, 74, 0.24);
}
.about__item-img-wrap--whitebook {
  background: #ff60a8;
  box-shadow: 0px 8px 24px 0px rgba(255, 96, 168, 0.24);
}
.about__item-img-wrap--price {
  background: #fb6238;
  box-shadow: 0px 8px 24px 0px rgba(255, 96, 168, 0.24);
}
.about__item-title {
  margin: 20px 0 14px;
  color: #010101;
  font-size: 2rem;
  font-weight: 500;
}
.about__item-desc {
  margin-top: auto;
  font-size: 1.4rem;
  line-height: 171.429%;
}

.news__inner {
  padding: 40px 0;
}
.news-tab {
  margin-top: 50px;
}
.news-tab__content {
  display: none;
}
.news-tab__content--current {
  display: block;
}
.news-tab__list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.news-tab__item {
  padding: 5px 34px;
  border-radius: 30px;
  background: rgba(50, 90, 255, 0.06);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
  color: #325aff;
  user-select: none;
}
.news-tab__item--current {
  background: #325aff;
  color: #fff;
}
.news-tab__item:hover:not(.news-tab__item--current) {
  cursor: pointer;
}
.news-content {
  margin-top: 40px;
}
@media (max-width: 575.98px) {
  .news-item {
    box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
  }
}
.news-item__thumb {
  width: 100%;
  height: 224px;
  object-fit: cover;
  border-radius: 10px;
}
.news-item__content {
  margin-top: 12px;
  display: flex;
  gap: 11px;
}
.news-item__job {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 153.846%;
}
.news-item__job--blue {
  color: #325aff;
}
.news-item__job--green {
  color: #a6cf4a;
}
.news-item__job--orange {
  color: #fb6238;
}
.news-item__time {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 153.846%;
}
.news-item__title {
  margin-top: 8px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 166.667%;
  color: var(--black-text-color);
  max-width: 253px;
}
.news-item__info {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-top: 19px;
}
.news-item__avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.news-item__author {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
  color: var(--black-text-color);
}
.news-item__text {
  font-size: 1.4rem;
  line-height: 185.714%;
  color: #707070;
}
.news__cta {
  display: flex;
  justify-content: center;
  margin-top: 62px;
}
.news__cta-btn {
  --btn-width: 209px;
  --btn-height: 48px;
}

.events__inner {
  position: relative;
  padding: 47px 0 60px 0;
}
.events__desc {
  width: min(389px, 90%);
  margin-left: auto;
  margin-right: auto;
}
.events__list {
  margin-top: 68px;
}
.events__item {
  display: flex;
  gap: 26px;
  padding: 10px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #f3f3f3;
}
@media (max-width: 991.98px) {
  .events__item {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 575.98px) {
  .events__item {
    flex-direction: row;
  }
}
.events__item:hover {
  box-shadow: 12px 16px 40px -16px rgba(0, 0, 0, 0.12);
}
.events__item-thumb {
  width: 193px;
  height: 129px;
  object-fit: cover;
  border-radius: 6px;
}
@media (max-width: 991.98px) {
  .events__item-thumb {
    width: 100%;
    height: 130px;
  }
}
.events__item-title {
  margin-top: 14px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%;
  color: #010101;
}
.events__item-row {
  display: flex;
  gap: 10px;
}
@media (max-width: 1199.98px) {
  .events__item-row {
    flex-direction: column;
  }
}
.events__item-info {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 6px;
}
.events__decore {
  position: absolute;
  top: 221px;
  left: -52px;
  z-index: -1;
}
@media (max-width: 1399.98px) {
  .events__decore {
    left: -10px;
  }
}
.events__cta {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.events__cta-btn {
  --btn-width: 170px;
  --btn-height: 48px;
}

.featured {
  background: #f5f5f5;
}
.featured__inner {
  padding: 40px 0 65px 0;
}
.featured__list {
  margin-top: 40px;
}
.featured-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 18px 30px;
  border-radius: 4px;
  background: #fff;
}
@media (max-width: 991.98px) {
  .featured-item {
    gap: 16px;
  }
}
@media (max-width: 767.98px) {
  .featured-item {
    flex-direction: column;
  }
}
.featured-item__title {
  color: #1b3152;
  font-size: 2rem;
  font-weight: 500;
  line-height: 150%;
}
@media (max-width: 991.98px) {
  .featured-item__title {
    font-size: 1.8rem;
    white-space: nowrap;
  }
}

.people__inner {
  padding: 60px 0 90px 0;
}
.people__body {
  position: relative;
  overflow: hidden;
}
.people__list {
  margin-top: 103px;
  display: flex;
  transition: transform 1s linear;
}
@media (max-width: 767.98px) {
  .people__list {
    margin-top: 40px;
  }
}
.people-item {
  display: flex;
  flex-shrink: 0;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}
@media (max-width: 767.98px) {
  .people-item {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.people-item__media {
  position: relative;
  padding: 47px 44px 61px;
}
.people-item__thumb {
  width: 400px;
  height: 480px;
  border-radius: 20px;
  background: #ffd05a;
  padding: 40px 38px 0;
}
@media (max-width: 991.98px) {
  .people-item__thumb {
    width: 300px;
    height: 360px;
  }
}
.people-item__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #ffd05a;
}
.people-item__content {
  max-width: 512px;
  margin-left: auto;
}
.people-item__content-top {
  margin-top: 45px;
}
@media (max-width: 767.98px) {
  .people-item__content-top {
    margin-top: 0;
  }
}
.people-item__decore > img {
  position: absolute;
}
.people-item__decore > img:nth-child(1) {
  top: 0;
  left: 0;
}
@media (max-width: 575.98px) {
  .people-item__decore > img:nth-child(1) {
    display: none;
  }
}
.people-item__decore > img:nth-child(2) {
  bottom: 0;
  right: 0;
}
@media (max-width: 575.98px) {
  .people-item__decore > img:nth-child(2) {
    display: none;
  }
}
.people-item__decore > img:nth-child(3) {
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}
.people-item__stars {
  display: flex;
  gap: 5px;
  margin-top: 22px;
}
.people-item__quote {
  margin-top: 26px;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 150%;
  color: #14131a;
  width: min(506px, 100%);
}
@media (max-width: 991.98px) {
  .people-item__quote {
    font-size: 2rem;
  }
}
.people-item__info {
  display: flex;
  align-items: center;
  margin-top: 66px;
}
@media (max-width: 767.98px) {
  .people-item__info {
    margin-top: 30px;
  }
}
.people-item__name {
  font-size: 2rem;
  font-weight: 600;
  color: #010101;
}
.people-item__job {
  margin-top: 8px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}
.people-item__company {
  margin-left: auto;
}
.people__ctrl-btn {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  background: #fff;
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.1));
  border-radius: 50%;
}
@media (max-width: 991.98px) {
  .people__ctrl-btn {
    display: none;
  }
}
.people__ctrl-btn--prev {
  left: 14px;
}
.people__ctrl-btn--next {
  left: 414px;
}
.people-stats {
  margin-top: 88px;
}
@media (max-width: 991.98px) {
  .people-stats {
    margin-top: 30px;
  }
}
.people-stats__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 113px;
}
@media (max-width: 991.98px) {
  .people-stats__list {
    gap: 50px;
  }
}
@media (max-width: 767.98px) {
  .people-stats__list {
    gap: 20px;
  }
}
.people-stats__item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.people-stats__item-num {
  font-size: 3rem;
  font-weight: 600;
  line-height: 133.333%;
  color: #88ae32;
}
.people-stats__item-label {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 142.857%;
  color: #262b34;
  white-space: nowrap;
}

.contact {
  margin-top: 50px;
  background: #f8fbff;
}
@media (max-width: 991.98px) {
  .contact {
    margin-top: 0;
  }
}
.contact__inner {
  padding-top: 123px;
}
@media (max-width: 575.98px) {
  .contact__inner {
    padding-top: 50px;
  }
}
.contact__row {
  display: flex;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .contact__row {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767.98px) {
  .contact__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contact__info-desc {
  max-width: 512px;
}
@media (max-width: 767.98px) {
  .contact__info-desc {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .contact__info-heading {
    text-align: center;
  }
}
.contact__cta-btn {
  margin-top: 30px;
  --btn-width: 138px;
}
.contact__media {
  position: relative;
  margin-left: auto;
  padding-right: 44px;
}
@media (max-width: 991.98px) {
  .contact__media {
    padding-right: 32px;
  }
}
@media (max-width: 767.98px) {
  .contact__media {
    margin: 50px 0 0;
  }
}
.contact__media-bg {
  position: relative;
  width: 353px;
  height: 353px;
  border-radius: 50%;
  border-radius: 353px;
  background: linear-gradient(180deg, #e7effe 0%, rgba(232, 242, 254, 0) 100%);
}
@media (max-width: 991.98px) {
  .contact__media-bg {
    width: 300px;
    height: 300px;
  }
}
.contact__media-img {
  position: absolute;
  top: -62px;
  left: 40px;
  width: 274px;
  height: 369px;
  object-fit: cover;
}
@media (max-width: 991.98px) {
  .contact__media-img {
    width: 200px;
    height: 270px;
  }
}
@media (max-width: 767.98px) {
  .contact__media-img {
    left: 50%;
    transform: translateX(-50%);
  }
}
.contact__media-decore > img {
  position: absolute;
}
.contact__media-decore img:nth-child(1) {
  top: 2px;
  right: 52.5px;
}
.contact__media-decore img:nth-child(2) {
  left: 0;
  bottom: 74px;
}
.contact__media-decore img:nth-child(3) {
  bottom: 137px;
  right: 24px;
}

.auth {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
}
@supports (-webkit-touch-callout: none) {
  .auth {
    height: -webkit-fill-available;
  }
}
@media (max-width: 767.98px) {
  .auth {
    flex-direction: row;
  }
}
.auth .auth__content,
.auth .auth__intro {
  flex: 1;
}
.auth__logo {
  margin: 30px;
}
@media (max-width: 767.98px) {
  .auth__logo {
    margin: 20px 30px 20px;
  }
}
@media (max-width: 767.98px) {
  .auth__content {
    position: fixed;
    inset: 0;
    z-index: 1;
    overflow-y: auto;
    background: #fff;
  }
  .auth__content.hide {
    transform: translateX(100%);
  }
}
.auth__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: min(360px, 100%);
  margin: 110px auto 0;
}
@media (max-width: 767.98px) {
  .auth__content-inner {
    padding: 0 20px;
    margin: 20px auto 0;
  }
}
.auth__heading {
  font-size: 3rem;
  font-weight: 600;
  line-height: 150%;
  color: #010101;
}
.auth__desc {
  margin-top: 10px;
  color: #777e90;
  font-size: 1.4rem;
  line-height: 142.857%;
}
.auth__login-google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 48px;
  width: 100%;
  margin-top: 34px;
  border-radius: 6px;
  border: 1px solid #d8dadc;
  white-space: nowrap;
  user-select: none;
}
@media (max-width: 767.98px) {
  .auth__login-google-btn {
    margin-top: 24px;
  }
}
.auth__login-google-btn span {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  color: #010101;
}
.auth__separate {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin: 30px 0 46px;
}
@media (max-width: 767.98px) {
  .auth__separate {
    margin: 16px 0 0;
  }
}
.auth__separate-line {
  width: 100%;
  height: 1px;
  background: #e7ebf0;
}
.auth__separate-text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 171.429%;
  color: #777e90;
}
.auth__form {
  width: 100%;
}
.auth__form-btn {
  width: 100%;
}
.auth__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #fafafd;
}
.auth__intro-img {
  display: block;
  width: min(424px, 100%);
  object-fit: contain;
}
.auth__intro-next-btn {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.auth__link {
  font-size: 1.4rem;
  line-height: 142.857%;
  color: #010101;
  text-decoration: underline;
  margin-left: auto;
}
.auth__text {
  margin-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 171.429%;
  color: #777e90;
}
@media (max-width: 767.98px) {
  .auth__text {
    margin-top: 24px;
  }
}
.auth__text-link {
  color: #0166ff;
}
.auth__message {
  margin-top: 30px;
}

.blog__bg {
  position: relative;
  background: #0975de;
  height: 386px;
  z-index: -1;
  overflow: hidden;
}
.blog__bg-decore > img {
  position: absolute;
}
.blog__bg-decore > img:nth-child(1) {
  top: 40px;
  right: 195px;
}
.blog__bg-decore > img:nth-child(2) {
  bottom: 0;
  right: 0;
}
@media (max-width: 1199.98px) {
  .blog__bg-decore > img:nth-child(2) {
    display: none;
  }
}
.blog__body {
  margin-top: -328px;
}
.blog__heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 150%;
  color: #fff;
}
.blog__content {
  margin-top: 40px;
}
.blog-tab {
  border-radius: 20px;
  background: #fff;
  padding: 24px 40px 87px;
}
.blog-tab__row {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .blog-tab__row {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
.blog-tab__list {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
@media (max-width: 991.98px) {
  .blog-tab__list {
    gap: 28px;
  }
}
@media (max-width: 575.98px) {
  .blog-tab__list {
    gap: 34px;
  }
}
.blog-tab__item {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 168.75%;
}
.blog-tab__item--current {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 0 20px;
  color: #fff;
  background: #0166ff;
  border-radius: 15px;
}
.blog-search {
  width: 144px;
  height: 30px;
  margin-left: auto;
  border-radius: 15px;
  border: 0.5px solid #f5f5f5;
  background: #fff;
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.04);
}
@media (max-width: 767.98px) {
  .blog-search {
    margin-left: 0;
    height: 42px;
    width: 100%;
  }
}
.blog-search__input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 142.857%;
  color: #000;
}
.blog__list {
  margin-top: 50px;
}
.blog-item {
  display: flex;
}
@media (max-width: 575.98px) {
  .blog-item {
    flex-direction: column;
    gap: 20px;
  }
}
.blog-item__title {
  max-width: 424px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 150%;
  color: #010101;
}
@media (max-width: 1199.98px) {
  .blog-item__title {
    font-size: 2.4rem;
  }
}
@media (max-width: 767.98px) {
  .blog-item__title {
    font-size: 2.2rem;
  }
}
.blog-item__desc {
  width: min(448px, 84%);
  margin-top: 24px;
  font-size: 1.6rem;
  line-height: 150%;
}
@media (max-width: 575.98px) {
  .blog-item__desc {
    width: 100%;
  }
}
.blog-item__thumb {
  margin-left: auto;
  width: 176px;
  height: 110px;
  border-radius: 6px;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .blog-item__thumb {
    flex-direction: column;
    width: 150px;
    height: 93.75px;
  }
}
@media (max-width: 575.98px) {
  .blog-item__thumb {
    margin-left: 0;
  }
}
.blog-item__bottom {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.blog-item__date, .blog-item__time {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 171.429%;
  color: #6c6c6c;
  white-space: nowrap;
}
@media (max-width: 767.98px) {
  .blog-item__date, .blog-item__time {
    font-size: 1.2rem;
  }
}
.blog-item__time {
  position: relative;
  padding: 0 26px;
}
@media (max-width: 767.98px) {
  .blog-item__time {
    padding: 0 13px;
  }
}
.blog-item__time::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 13px;
  translate: 0 -50%;
  width: 6px;
  height: 6px;
  background: #6c6c6c;
  border-radius: 50%;
}
@media (max-width: 767.98px) {
  .blog-item__time::before {
    content: none;
  }
}
.blog-item__time::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 13px;
  translate: 0 -50%;
  width: 6px;
  height: 6px;
  background: #6c6c6c;
  border-radius: 50%;
}
@media (max-width: 767.98px) {
  .blog-item__time::after {
    content: none;
  }
}
.blog-item__branch {
  padding: 3px 15px;
  height: 26px;
  border-radius: 20px;
  background: rgba(1, 102, 255, 0.1);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 142.857%;
  color: #0166ff;
}
@media (max-width: 767.98px) {
  .blog-item__branch {
    padding: 3px 8px;
  }
}
.blog__separate {
  margin: 44px 0 40px;
  width: 100%;
  height: 1px;
  background: #e9e9e9;
}
.blog__separate--short-margin {
  margin: 20px 0;
}
.blog__ctrl {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 40px;
}
.blog__ctrl-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 1.4rem;
  color: #010101;
  line-height: 142.857%;
  border-radius: 50%;
}
.blog__ctrl-btn--active {
  color: #fff;
  background: #0166ff;
}
.blog__ctrl-btn--next {
  display: flex;
  gap: 6px;
  width: 103px;
  border-radius: 16px;
  background: #f6f6f6;
}
.blog-info {
  padding: 24px 30px;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
  background: #fff;
}
.blog-info__heading {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 100%;
  color: #010101;
}
.blog-info__list {
  margin-top: 24px;
}
.blog-info__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.blog-info__item-title {
  width: 229px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}
@media (max-width: 1199.98px) {
  .blog-info__item-title {
    width: 80%;
  }
}
.blog-info__item-bottom {
  display: flex;
}
.blog-info__item-date, .blog-info__item-time {
  font-size: 1.2rem;
  line-height: 150%;
  color: #6c6c6c;
}
.blog-info__item-time {
  position: relative;
  padding-left: 31px;
}
.blog-info__item-time::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 50%;
  translate: 0 -50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #6c6c6c;
}
.blog__form {
  margin-top: 24px;
}
.blog__form-heading {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 100%;
  color: #010101;
}
.blog__form-desc {
  margin-top: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 171.429%;
  color: #6c6c6c;
}
.blog__form-input {
  margin-top: 24px;
  padding: 0 20px;
  width: 100%;
  height: 42px;
  border-radius: 30px;
  border: 1px solid #f3f3f3;
  background: #fff;
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.04);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 166.667%;
  color: #000;
}
.blog__form-btn {
  margin-top: 16px;
  width: 100%;
  font-size: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
