@use "../abstracts";

$error-color: #ed4337;

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        // pointer-events: none;
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: #ed4337;
        }

        .form__input-icon {
            display: none;
        }

        .form__input-icon-error {
            display: block;
        }

        .form__error {
            display: block;
        }
    }

    &__group {
        margin-top: 36px;

        @include abstracts.screen(md) {
            margin-top: 24px;
        }

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__text-input {
        position: relative;
        display: flex;
        align-items: center;
        height: 48px;
        border-bottom: 1px solid #d9d9d9;

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__input {
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        line-height: 133.333%;
        color: #777e90;

        &-icon-error {
            display: none;
            margin-left: 12px;
            animation: shake 0.5s;
        }
    }

    &__error {
        display: none;
        margin-top: 10px;
        font-size: 1.4rem;
        font-weight: 500;
        color: $error-color;
        text-align: left;
    }

    &__checkbox {
        position: relative;
        display: flex;
        align-items: center;
        user-select: none;

        &::before,
        &::after {
            content: "";
            position: absolute;
        }

        &::before {
            width: 16px;
            height: 16px;
            border-radius: 3px;
            border: 1px solid #dbdadd;
        }

        &:has(&-input:checked) {
            &::before {
                background: #0166ff;
                border-color: #0166ff;
            }

            &::after {
                width: 13px;
                height: 8px;
                top: 3px;
                left: 1px;
                border: 1.5px solid;
                border-color: transparent transparent #fff #fff;
                rotate: -45deg;
            }
        }

        &-label {
            font-size: 1.4rem;
            line-height: 142.857%;
            color: #010101;
            margin-left: 24px;
        }
    }
}
