<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <!-- Footer column 1 -->
            <div class="footer__col">
                <!-- Logo -->
                <div class="logo">
                    <img src="./assets/icons/logo.svg" alt="" class="logo__img" />
                    <h1 class="logo__title">Eduka.</h1>
                </div>
                <p class="footer__desc">Join our newsletter to stay up to date on features and releases.</p>
                <form action="" class="footer__form">
                    <div class="footer__form-group">
                        <input type="email" class="footer__form-input" placeholder="Enter your email" required />
                        <button type="submit" class="btn btn--primary footer__form-btn">Subscribe</button>
                    </div>
                </form>
            </div>

            <!-- Footer column 2 -->
            <div class="footer__col">
                <h3 class="footer__title">Pages</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Home</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">About</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Contact</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Blog</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Courses</a>
                    </li>
                </ul>
            </div>

            <!-- Footer column 3 -->
            <div class="footer__col">
                <h3 class="footer__title">CMS Pages</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Blog Post</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Blog Categories</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Blog Single</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Courses Categories</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Product Page</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Product Categories</a>
                    </li>
                </ul>
            </div>

            <!-- Footer column 4 -->
            <div class="footer__col">
                <h3 class="footer__title">Account Pages</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Login</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Sign up</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Forget Password</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Reset Password</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Email Confirmation</a>
                    </li>
                </ul>
            </div>

            <!-- Footer column 5 -->
            <div class="footer__col">
                <h3 class="footer__title">Utility Pages</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Licenses</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">404</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Password</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
