<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button class="top-bar__more d-none d-lg-block js-toggle" toggle-target="#navbar">
            <img src="./assets/icons/more.svg" alt="" class="top-bar__more-icon" />
        </button>

        <!-- Logo -->
        <a href="./index.html" class="logo top-bar__logo">
            <img src="./assets/icons/logo.svg" alt="" class="logo__img" />
            <h1 class="logo__title">Eduka.</h1>
        </a>

        <!-- Navbar -->
        <nav id="navbar" class="navbar hide">
            <button class="navbar__close-btn js-toggle" toggle-target="#navbar">&times;</button>
            <ul class="navbar__list">
                <li>
                    <a href="./index.html" class="navbar__link navbar__link--active">Home</a>
                </li>
                <li>
                    <a href="./about.html" class="navbar__link">About</a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">Courses</a>
                </li>
                <li>
                    <a href="./blog.html" class="navbar__link">Blog</a>
                </li>
                <li>
                    <a href="./contact.html" class="navbar__link">Contact</a>
                </li>
            </ul>
        </nav>

        <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>

        <!-- CTA -->
        <div class="top-bar__cta-group">
            <a href="./sign-in.html" class="btn btn--text d-md-none">Sign In</a>
            <a href="#!" class="btn btn--primary btn--rounded top-bar__cta-group-btn">Sign Up</a>
        </div>
    </div>
</div>
